<div class="layout layout--col layout--top w--full h--full">
  <div class="flex w--full">
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <span class="value" id="delivery-count">{{ deliveries | size }}</span>
        <span class="label" id="filter-label">Deliveries</span>
      </div>
    </div>
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <span class="value" id="out-for-delivery-count">0</span>
        <span class="label">Out for Delivery</span>
      </div>
    </div>
  </div>

  <div class="border--h-3 w--full my--2"></div>

  <div class="columns">
    <div
      class="column"
      id="deliveries-container"
      data-list-limit="true"
      data-list-hidden-count="false"
      data-list-max-columns="1"
      data-list-max-height="360"
    >
      {% if error %}
        <div class="flex flex--center-x">
          <span class="label">{{ error }}</span>
        </div>
      {% elsif deliveries.size == 0 %}
        <div class="flex flex--center-x">
          <span class="label">No deliveries to show</span>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<div id="parcel-title-bar"></div>

<script>
  initializeParcelTitleBar();
  initializeParcelTemplate({
    containerId: 'deliveries-container',
    showSummary: true,
    outForDeliveryId: 'out-for-delivery-count',
    filterLabelId: 'filter-label'
  });
</script>
