<div class="layout layout--col layout--top w--full h--full">
  <div class="columns">
    <div
      class="column"
      id="deliveries-container"
      data-list-limit="true"
      data-list-hidden-count="false"
      data-list-max-columns="2"
      data-list-max-height="190"
    >
      {% if error %}
        <div class="flex flex--center-x">
          <span class="label">{{ error }}</span>
        </div>
      {% elsif deliveries.size == 0 %}
        <div class="flex flex--center-x">
          <span class="label">No deliveries to show</span>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<div id="parcel-title-bar"></div>

<script>
  initializeParcelTitleBar();
  initializeParcelTemplate({
    containerId: 'deliveries-container',
    style: "{{ trmnl.plugin_settings.custom_fields_values.style | default: 'compact' }}"
  });
</script>
