<div class="layout layout--col h--full">
  <div class="grid grid--cols-1">
    <div class="item">
      <div class="content">
        <span class="value value--tnums" id="current-weight">-</span>
        <span class="label">CURRENT</span>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <span class="value value--tnums" id="period-delta">-</span>
        <span class="label">CHANGE</span>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="content">
      <span class="label" id="last-date">-</span>
      <span class="label">LAST MEASUREMENT</span>
    </div>
  </div>

  <div id="health-chart" class="w--full h--full"></div>
</div>

<div class="title_bar">
  <span class="title" id="chart-title">{{ profileName | capitalize }}'s Trend</span>
</div>

<script type="text/javascript">
  initializeHealthChart({
    chartElementId: 'health-chart',
    currentValueId: 'current-weight',
    deltaValueId: 'period-delta',
    latestDateId: 'last-date',
    chartTitleId: 'chart-title',
    axisFontSize: '12px',
    lineWidth: 2
  });
</script>
