<div class="view view--full">
  <div class="layout layout--col gap--space-between" id="{{ stock_tickers_container_id }}"></div>

  <div class="title_bar">
    <img class="image" src="https://usetrmnl.com/images/plugins/stock_price--render.svg" />
    <span class="title">Stock Prices</span>
  </div>
</div>

<script>
  (function() {
    const stockPriceInstance = window.__stockPriceInstances && window.__stockPriceInstances[{{ stock_instance_key | json }}];
    if (!stockPriceInstance) return;
    stockPriceInstance.renderLayout('full', {{ stock_tickers_container_id | json }});
  })();
</script>
